<% @title = "Контакты" %>

<%= render 'shared/top_btn' %>

<div class="container" id="contacts">
  <div class="row">
	
    <div class="span4">
      <h1>контакты</h1>
	  </div>
	  
    <div class="span8 text-right">
      <h3>Наши партнеры</h3>
      <select class='js-partners-city-select'>
        <option value="">Выберите город</option>
        <%- cities.each do |city| %>
          <option value="city-<%= city.id %>"><%= city.title %></option>
        <%- end %>
      </select>
    </div>
	
	</div>
	
	
	<div class="row">
  <!-- было вынесено решение скрыть этот блок и оставить только одну карту -->
	<!--<div class="span4">-->
		<!--<select id="city_select">-->
		  <!--<option value="saint">Санкт-Петербург</option>-->
		  <!--<option value="moscow">Москва</option>-->
		<!--</select>-->
	<!--</div>-->
	<%# render 'static_pages/moscow' %>
  
	<%= render 'static_pages/saint' %>

	
	
	<div class="span5">
		<h1>обратная связь</h1>
		<div id="question">
	    <div class="text" id="notice" style="margin-bottom: 10px;"><%= notice %></div>
		<%= form_for @question, :html => { :class => "question_form", :id => 'question_form' } do |f| %>
		
		  <input class="form-input" id="question_name" name="question[name]" size="30" type="text" onfocus="if(this.value=='Ваше имя') this.value='';" onblur="if(this.value=='') this.value='Ваше имя';" value="Ваше имя" />
		  <input class="form-input" id="question_email" name="question[email]" size="30" type="email" onfocus="if(this.value=='Ваша эл. почта') this.value='';" onblur="if(this.value=='') this.value='Ваша эл. почта';" value="Ваша эл. почта" />
		  <input class="form-input" id="question_phone" name="question[phone]" size="30" type="text" onfocus="if(this.value=='Телефон') this.value='';" onblur="if(this.value=='') this.value='Телефон';" value="Телефон" />
		  <textarea class="" id="question_text" name="question[text]" rows="10" onfocus="if(this.value=='Сообщение') this.value='';" onblur="if(this.value=='') this.value='Сообщение';"/>Сообщение</textarea>
		
		  <%= link_to 'Отправить', "#", :onclick => "$('#question_form').submit()", :class => "form-submit" %>
		<% end %>
		</div>
	</div>
		
  </div>



  <%= render 'shared/partners_list' %>

  <br/>
  <br/>
  <h2>Реквизиты</h2>
  <p class="text">
    Общество с ограниченной ответственностью «Роял Брендс» (ООО «Роял Брендс»)
    ОГРН 1147847098244, ИНН 7804528820
    Адрес: Российская Федерация, 195197, город Санкт-Петербург, Кондратьевский проспект, дом 15, корпус 3, литер 3, помещение 13
  </p>


</div>