<div id="main">
<div class="container" style="position: relative;">
<%= render 'layouts/bubbles' %>
</div>

<div id="main-content">
  <div class="container">
    <div class="row">
      <%= render 'layouts/main-news' %>

	  <%= render 'layouts/main-catalog' %>
	
	  <%= render 'layouts/main-events' %>
    </div>
    <%= render 'shared/seo_text' if @seo_text %>
  </div>
</div>