<div class="container" id="consultations">
  <div class="row">
    <div class="span12">
      <h1>Новости компании</h1>
	</div>

	<div class="span12">
	  <div id="cosultations_frame">
		<% @articles.each do |article| %>
		<div class="consultation">
			
			<div class="short">
			<%= link_to "показать новость", "#", :class => 'consultaion_switch open', :id => 'open' %>
			<p><%= article.title %></p>
			<p class="element-date"><%= article.date.strftime('%d.%m.%Y') %></p>
			</div>

			<div class="full" style="display: none;">	
			<%= link_to "показать новость", "#", :class => 'consultaion_switch close', :id => 'close' %>	
			<p><%= article.title %></p>
			<div class="element-date"><%= article.date.strftime('%d.%m.%Y') %></div>
			<p><%= article.text.html_safe %></p>
			</div>
		
		</div>
		<% end %>
	  </div>
	</div>
	
	
	
  </div>	
</div>