<div class="container" id="personal_area">

  <div class="row">
    <div class="span4">
      <h1>Личный кабинет</h1>
    </div>

	<div class="span5 offset3">
		<div class="head_links">
		<%= current_user.name %> | <%= current_user.email %> | <%= link_to "выйти", destroy_user_session_path, method: :delete %>
		</div>
	</div>
	
	<% if current_user.check? %>
	
	<div class="span12 my_links">
		<%= link_to "Моя корзина", "#", :id => 'my_cart_link', :class => 'active' %>
		<%= link_to "История заказов", "#", :id => 'my_orders_link' %>
		<%= link_to "Мои события", "#", :id => 'my_events_link' %>
	</div>
	
	<div class="span12" id="my_cart">
	
	<%= render @cart %>
	<% unless @cart.line_items.empty? %>
	<div class="row">
		<div class="span5 offset7"><%= link_to 'Оформить заказ', new_order_path, :class => 'order_button' %></div>
	</div>
	<% end %>
	</div>
	
	<div class="span12" id="my_orders" style="display: none;">
		<table cellspacing="0" cellpadding="0">
		  <tr>
		    <th>Номер заказа</th>
		    <th>Дата заявки</th>
		    <th>Состав</th>
			<th>Стоимость</th>
			<th></th>
		  </tr>
		</table>
	</div>
	
	
	<div class="span12" id="my_events" style="display: none;">
		<% if @user.events.blank? %>
		  <h3>Вы пока никуда не записались</h3>
		<% else %>
		  <table cellspacing="0" cellpadding="0">
			<tr>
			  <th>Событие</th>
			  <th>Дата события</th>
			  <th>Кратко о событии</th>
			  <th></th>
			</tr>
		    <% @user.events.each do |event| %>
		    <tr>
			  <td><%= event.title %></td>
			  <td><%= event.date.strftime("%d.%m.%Y") %></td>
			  <td><%= truncate(strip_tags(event.text), length: 185).html_safe %></td>
			  <td id="appointment_link"><%= render :partial => 'events/link', :locals => { :event => event } %></td>
            </tr>
		    <% end %>
		  </table>
		<% end %>
	</div>

			

<% else %>
<div class="span12" style="margin-top: 80px;">
<h1>Ваш аккаунт неактивен, пожалуйста, дождитесь письма с подтверждением активации. После этого вы сможете заказывать товары</h1>
</div>
<% end %>

</div>
</div>
