	  <div id="month">
		<div class="month-inner">
	    <%= link_to "предыдущий месяц", params.merge(:date => @date.prev_month), :class => 'prev_month', :remote => true %>
	    <div class="current_month"><%= Russian::strftime(@date, "%B %Y") %></div>
	    <%= link_to "следующий месяц", params.merge(:date => @date.next_month), :class => 'next_month', :remote => true %>
		</div>
	  </div>
	  

    <%= hidden_field_tag :city_id, params[:city_id] %>
    <%= hidden_field_tag :date, params[:date] %>
	  
	  <%= calendar @date do |date| %>
	    <div class="date-inner">
		      <%= date.day %>
		      	<% if @events_by_date[date] %>
					<div class="bubble">
					<%= link_to "закрыть", "#", :class => "close" %>
					<div class="date"><%= date.strftime("%d.%m.%Y") %></div>
					<% @events_by_date[date].each do |event| %>
					<div class="event-title">
					<%= link_to event.title, event, :class => "link" %>
					</div>
					<div class="event-text">
					<%= truncate(strip_tags(event.text), length: 185).html_safe %>
					</div>
					<div class="event-title">
					<%= link_to "читать далее", event, :class => "link" %>
					</div>
					<% end %>
					<span class="bubble-arrow"></span>
					</div>
				<% end %>
		  </div>
	  <% end %>