<div class="container">
  <div class="row">
    <div class="span12">
      <h1>студия профессионального роста</h1>
	</div>

      
    <div class="span9">
      
      <%= collection_select(:event, :city_id, @cities, :id, :title, {}, {:class=>'event_city_select', :id=>'event_city_select'}) %>
    	<%= form_tag events_path, :method => 'get', :id => "events_form", :remote => true do %>
	  	<div id="events">
	  	
		  <%= render 'events', :@events => @events, :@events_by_date => @events_by_date, :@date => @date %>
		  <% end %>
		</div>
	</div>
	
	<div class="span3">
    <div class="header">Новости компании</div>
	  <div class="line"></div>
		<%= render 'layouts/product-news' %>
		<%= link_to "все новости", articles_path, :class => 'content-header-link product' %>
	</div>
<!--
	
	<% @widget_events.each do |event| %>
	<div class="span6 event-widget">
		<%= event.title %>
	</div>
	<% end %>
	-->

  </div>	
</div>