<% if notice %>
<p id="notice" style="color: red;"><%= notice %></p>
<% end %>

<% @events.each do |event| %>
<h1><%= event.title %></h1>
<p><%= event.date %></p>
<p><%= event.text %></p>
<% if user_signed_in? %>
<%= appointment_link(event) %>
<% end %>
<% end %>