<div class="container" id="event">
  <div class="row">
    <div class="span12">
      <%= link_to "назад к календарю", events_path, :class => 'content-header-link product' %>
	</div>

    <div class="span9">
	  	<h1><%= @event.title %></h1>
		<div class="element-date"><%= @event.date.strftime("%d.%m.%Y") %></div>
		<div class="event-text"><%= @event.text.html_safe %></div>
		
		<% if user_signed_in? && current_user.check? %>
		<div id="appointment_link">
		<%= render :partial => 'link', :locals => { :event => @event } %>
		</div>
		<% end %>
	</div>
	
	<div class="span3">
    <div class="header">Новости компании</div>
	  <div class="line"></div>
		<%= render 'layouts/product-news' %>
		<%= link_to "все новости", "#", :class => 'content-header-link product' %>
	</div>
	
  </div>	
</div>