<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	
	<div class="row">
		<div class="span5">
			<h2>Комментарий к заказу</h2>
	        <%= f.text_field :comment, :placeholder => "Ваше пожелания...", :class => 'form-input' %>
			<%= link_to "Оформить заказ", "#", :class => 'order_button', :onclick=>"$('#new_order').submit();return false;" %>
	    </div>
	</div>
<% end %>
