<%= semantic_form_for [:admin, @product, @product_image], :html => {:multipart => true}	 do |f| %>

<div style="float: left; width: 600px;">
<h4>Оригинал:</h4>
<%= image_tag @product_image.image.url(:original), :id => "cropbox" %>
</div>

<div style="float: left; width: 600px; margin-left: 20px;">	
<h4>Обработанный вариант:</h4>
<div style="width:300px; height:300px; overflow:hidden;">
  <%= image_tag @product_image.image.url(:original), :id => "main" %>
</div>

<%= form_for [:admin, @product, @product_image] do |f| %>
<% %w[x y w h].each do |attribute| %>
<%= f.hidden_field "crop_#{attribute}" %>
<% end %>
<fieldset class="actions">
<ol>
<li><%= f.submit "Обрезать" %></li>
</ol>
</fieldset>
<% end %>

</div>



<% end %>




