<div class="container" id="products">
  <div class="row">
    <div class="span6">
      <h1>процедуры</h1>
	</div>
    

	<div class="span12">
	  <div id="cosultations_frame" style="margin-top: 0px;">
		<% @procedures.each do |procedure| %>
		<div class="consultation">
			
		<div class="short">
		<%= link_to "показать консультацию", "#", :class => 'consultaion_switch open', :id => 'open' %>
		<p><b><%= procedure.title %></b></p>
		</div>
		
		<div class="full" style="display: none;">	
		<%= link_to "показать консультацию", "#", :class => 'consultaion_switch close', :id => 'close' %>	
		<p><b><%= procedure.title %></b></p>
		<% procedure.stages.to_enum.with_index(1).each do |stage, index| %>
		<p><b>Стадия <%= index %>:</b> <%= stage.title %> <br/> <br/> 
		<% stage.substages.to_enum.with_index(1).each do |substage, index| %>	
		<b>Этап<%= index %>:</b><%= substage.text %><br/>
		<% unless substage.product.nil? %>
		<%= link_to substage.product.title, substage.product %></br></br>
		<% end %>
		<% end %>
		</p>
		<% end %>
		
		</div>
		
		</div>
		<% end %>
	  </div>
	</div>
	
	
	
  </div>	
</div>