<div class="layer_bg"></div>
<div class="form" id="product_filter_form">
	<h1>Фильтр по продукции</h1><div class="filter_caption">отметьте интересующие вас типы товаров</div>
	<div class="buf"></div>
	<%= form_tag('/products/select') do %>
	<% Taxonomy.all.each do |taxonomy| %>	
	<div class="taxonomy">	
		    <div class="taxonomy_link">
				<%= check_box_tag 'taxonomy', taxonomy.id, checked = false, {:class => 'taxonomy_checkbox'} %>
			  <%= link_to "#", :class=> "taxonomy_selector" do %>
				<%= taxonomy.title %> (<%= taxonomy.taxons.count %> типов внутри)
			    
			  <% end %>
			</div>
		<ul class="taxons_list">
	    <% taxonomy.taxons.each do |taxon| %>
		<li>
		  <label class="checkbox"><%= check_box_tag 'taxon_ids[]', taxon.id %><%= taxon.title %></label> 
		</li>
		<% end %>
	  </ul>
	</div>
	<% end %>
	<%= submit_tag "Сортировать", :class => 'select_products' %>
	<% end %>
</div>
</div>