<% unless @recommended.blank? %>
<div class="row" style="margin-top: 100px;">
  <div class="span12">
	  <div class="header">royal beauty рекомендует:</div>
	  <div class="line"></div>
	</div>
</div>

<div class="row">
  <% @recommended.each do |product| %>
  <div class="span4 recommended">
	<div class="icon" <% unless product.product_images.blank? %>style="background-image: url(<%= product.product_images.first.image.url(:ico) %>);"<% end %>>
	  <%= link_to image_tag('index-icon.png'), product %>
	</div>
	<div class="recommended-title"><%= link_to product.title, product %></div>
	<div class="recommended-description"><%= product.short_description %></div>
	<%= link_to 'Подробнее', product, :class => 'recommended-link' %>
  </div>
  <% end %>
</div>
<% end %>