<% @title = @product.title %>

<div class="container" id="product">
	
  <div class="row" style="margin-bottom: 10px;">
    <div class="span3">
      <%= link_to "назад к каталогу", products_path, :class => 'content-header-link product' %>
	</div>
  </div>

  <div class="row">
	
    <div class="span4">
	
		<a class="fancybox"  href="<%= @product.product_images.first.image.url %>" data-fancybox-group="gallery">
		   <div class="product_image" 
				<% unless @product.product_images.blank? %>style="background-image: url(<%= @product.product_images.first.image.url(:product) %>);"<% end %>>
			  <div class="product_image_wrap">
			  </div>

		  </div>
		</a>

	
		<% @product.product_images.each_with_index do |product_image, index| %>
		
			<% if index == 0 %>
		        <%= nil %>
		
			<% else %>
			
			<a class="fancybox" style="display: none;" href="<%= product_image.image.url %>" data-fancybox-group="gallery">
			<%= image_tag product_image.image.url(:ico) %>
			</a>
			
		    <% end %>
		

		
		<% end %>
	
	  <% if user_signed_in? && current_user.check? && product_has_price(@product) == true %>
	  <%= link_to 'Заказать товар', line_items_path(product_id: @product), remote: true, :class => 'order_button', :method=> :post %>
	  <% end %>
	
	  <% unless @procedures.blank? %>
	  <h5>входит в процедуры:</h5>
	  <ul class="procedures">
	  <% @procedures.each do |procedure| %>
	  <li><%= link_to procedure.title, procedures_path %></li>
	  <% end %>
	  </ul>
	  <% end %>
	</div>
	
	<div class="span5">
      <div class="title"><%= @product.title %></div>
	  <div class="packing"><%= @product.short_description %></div>
	  <div class="line"></div>
	  <h5>описание</h5>
	  <div class="text"><%= markdown(@product.text) %></div>
	  <h5>ингредиенты</h5>
	  <div class="text"><%= markdown(@product.ingredients) %></div>
	  <div class="line"></div>
	  <h5>объем</h5>
	  <div class="text"><%= markdown(@product.packing) %></div>	
	  <% if user_signed_in? && current_user.check? %>
	  <% if product_has_price(@product) == true %>
	  <h5>цена</h5>
	  <div class="text"><%= number_to_currency(price(@product)) %></div>
	  <% end %>
	  <% end %>
	  <div class="line" style="margin-top: 20px"></div>
	<script type="text/javascript" src="//yandex.st/share/share.js"
	charset="utf-8"></script>
	<div class="yashare-auto-init share" data-yashareL10n="ru"
	 data-yashareType="link" data-yashareQuickServices="yaru,vkontakte,facebook,twitter,odnoklassniki,moimir"></div>
	</div>
	
	<div class="span3">
      <div class="header">Новости компании</div>
	  <div class="line"></div>
		<%= render 'layouts/product-news' %>
		<%= link_to "все новости", articles_path, :class => 'content-header-link product' %>
	</div>
	
  </div>



  <%= render 'products/recommended' %>



</div>