<div class="layer_bg"></div>

<div class="form" id="auth_form">

<div id="register_frame">	
	<div class="header">
		<h1>регистрация</h1>
		<p>уже зарегистрированы?</p>
		<a href="#" id="authorization_link">ВХОДИТЕ!</a>
		<a href="#" class="close"></a>	
	</div>
	
	<div class="left_column">
	
	<div class="who">Кто вы?</div> 
	
	<%= form_for(resource, :validate => true, :as => resource_name, :url => registration_path(resource), :html => { :class => "register_form", :id => 'register_form' }) do |f| %>
	
	<div class="field_wrap">
	<select name="user[role]">
	    <% User::ROLES.each do |role| %>
	        <option value="<%= role %>"><%= t(role) %></option>
	    <% end %>
	</select>
	</div>

	<div class="field_wrap">
	<%= f.text_field :name, :class => 'form-input', :placeholder => "Ваше имя", :validate => true %>
	</div>
	
	<div class="field_wrap">
	<%= f.email_field :email, :class => 'form-input', :placeholder => "Ваша электронная почта" %>
	</div>
	
	<div class="field_wrap">
	<%= f.password_field :password, :class => 'form-input', :placeholder => "Пароль", :validate => { :presence => true, :confirmation => true } %>
	</div>
	
	<div class="field_wrap">
	<%= f.password_field :password_confirmation, :class => 'form-input', :placeholder => "Пароль еще раз" %>
	</div>
	
	<div class="field_wrap">
	<%= f.text_field :phone, :class => 'form-input', :placeholder => "Телефон" %>
	</div>
	
	<%= f.text_area :comment, :rows => "10", :placeholder => "Добавить заметку" %>

	<%= link_to 'Зарегистрироваться', "#", :onclick => "$('#register_form').submit()", :class => "form-submit" %>
	<% end %>
	
	</div>
	
	<div class="right_column">	
	</div>
	
</div>

<div id="auth_frame">	
	<div class="header">
		<h1>авторизация</h1>
		<p>еще не с нами?</p>
		<a href="#" id="registration_link">ЗАРЕГИСТРИРУЙТЕСЬ!</a>
		<a href="#" class="close"></a>	
	</div>
	
	<div class="left_column">
	
		<%= form_for("user", :url => session_path(resource_name), :html => {:id => "sign_in_form"}) do |f| %>

	<input style="margin-bottom: 20px;" class="form-input" id="user_email" name="user[email]" size="30" type="email" onfocus="if(this.value=='Ваша электронная почта') this.value='';" onblur="if(this.value=='') this.value='Ваша электронная почта';" value="Ваша электронная почта" />
	
	<input style="margin-bottom: 20px;" class="form-input" id="user_password" name="user[password]" size="30" type="password" placeholder="Пароль" />

	<%= link_to 'Войти', "#", :onclick => "$('#sign_in_form').submit()", :class => "form-submit" %>
	<% end %>
	
	</div>
	
	<div class="right_column">	
	</div>
	
</div>

</div>