<div id="footer">
  <div class="container">
	
    <div class="row">
	  <div id="footer-logo"></div>
	  <div id="footer-phone"><div id="number">8 800 100 80 79</div></div>
	  <div id="footer-social">
		<%= link_to "vkontakte", "http://vk.com/rbcos", :target => '_blank', :class => 'social_link vk' %>
        <%= link_to "facebook", "http://www.facebook.com/pages/Alissi-Bronte/150348835127592", :target => '_blank', :class => 'social_link fb' %>
		<%= link_to "twitter", "https://twitter.com/AlissiBronteRus", :target => '_blank', :class => 'social_link tw' %>
		<%= link_to "linkedin", "http://www.linkedin.com/pub/alissi-bronte/69/770/836?trk=fbr", :target => '_blank', :class => 'social_link in' %>
	  </div>
		<div class="search">
		<form id="footsearch" accept-charset="UTF-8" action="/search" method="get">
			<input name="utf8" type="hidden" value="&#x2713;" />
			<input type="text" name="testfind" class="search-input" onfocus="if(this.value=='поиск по сайту') this.value='';" onblur="if(this.value=='') this.value='поиск по сайту';" value="поиск по сайту" />
			<a href="#" class="search-submit"></a>
		</form>
		</div>
	</div>
	
	<div class="row">
	<div id="copyright">ООО «Роял бьюти косметикс», © <%= Time.now.year %> | все права защищены | эл. почта: info@rbcos.ru</div>
	<div class="made-in-zero">сделано <br/> в <%= link_to "zero b2b", "http://zonazero.ru/", :target => '_blank'%></div>
	<%= link_to "zero b2b", "http://zonazero.ru/", :class => "zero-logo", :target => '_blank'%>
	</div>
	
  </div>
</div>