<div id="header">
  <div class="container">
    <div class="row">
      <div class="span12">
        <%= partner_link %>
		    <%= link_to "vkontakte", "https://vk.com/alissi_bronte_russia", :target => '_blank', :class => 'social_link vk' %>
        <%= link_to "facebook", "https://www.facebook.com/AlissiBronteRussia", :target => '_blank', :class => 'social_link fb' %>
		    <%= link_to "twitter", "https://twitter.com/AlissiBronteRus", :target => '_blank', :class => 'social_link tw' %>
		<div class="search">
		<form id="header_search" accept-charset="UTF-8" action="/search" method="get">
					<input name="utf8" type="hidden" value="&#x2713;" />
					<input type="text" name="search" class="search-input" onfocus="if(this.value=='поиск по сайту') this.value='';" onblur="if(this.value=='') this.value='поиск по сайту';" value="поиск по сайту" autocomplete="off"/>
					<a href="#" class="search-submit" id="header_submit"></a>
				</form>
		
		</div>
		<%= link_to "показать на карте", contacts_path, :class => 'map_link' %>
		<div class="phone"><%= t('views.phone') %></div>
		<div class="phone"><%= t('views.phone_spb') %></div>
      </div>
    </div>
  </div>
</div>
