<div style="width: 220px; float: left;">
	
	<div class="header">Ближайшие события</div>
	<div class="line"></div>
	
	<% @events.each do |event| %>
	
	<div class="column-element">
	<%= link_to Russian::strftime(event.date, "%d %B"), events_path, :class => "events-element-header-link" %>
	<div class="element-brand"><%= city(event) %></div>
	<div class="element-event"><%= event.title %>
	  <%= link_to "смотреть", event %></div>
	</div>
	
	<% end %>

	<%= link_to "перейти в календарь", events_path, :class => "calendar-link" %>
	
  </div>