<div style="width: 220px; float: left;">
	
	<div class="header">Ближайшие события</div>
	<div class="line"></div>
	
	<div class="column-element">
	<%= link_to "4 марта (пятница)", "#", :class => "events-element-header-link" %>
	<div class="element-brand">Alissi Bronte</div>
	<div class="element-event">Таинственная Аюрведа
	  <%= link_to "смотреть", "#" %></div>
	</div>
	
	<div class="column-element">
	<%= link_to "4 марта (пятница)", "#", :class => "events-element-header-link" %>
	<div class="element-brand">Alissi Bronte</div>
	<div class="element-event">Таинственная Аюрведа
	  <%= link_to "смотреть", "#" %></div>
	</div>
	
	<div class="column-element">
	<%= link_to "4 марта (пятница)", "#", :class => "events-element-header-link" %>
	<div class="element-brand">Alissi Bronte</div>
	<div class="element-event">Таинственная Аюрведа
	  <%= link_to "смотреть", "#" %></div>
	</div>
	</div>
	<%= link_to "перейти в календарь", "#", :class => "calendar-link" %>
	
  </div>