<div style="width: 320px; float: left; margin-right: 40px">
	<div class="header">Новости компании</div>
	<%= link_to "все новости", "#", :class => "content-header-link" %>
	<div class="line"></div>
	
	<div class="column-element">
	<%= link_to "Семинар от испанского тренера", "#", :class => "element-header-link" %>
	<div class="element-date">13.03.2012</div>
	<div class="element-text">Приглашаем косметологов и представителей салонов красоты на уникальный семинарот лаборатории Alissi Bronte <%= link_to "читать далее", "#" %></div>
	</div>
	
	<div class="column-element">
	<%= link_to "Семинар от испанского тренера", "#", :class => "element-header-link" %>
	<div class="element-date">13.03.2012</div>
	<div class="element-text">Приглашаем косметологов и представителей салонов красоты на уникальный семинарот лаборатории Alissi Bronte <%= link_to "читать далее", "#" %></div>
	</div>
	
	<div class="column-element">
	<%= link_to "Семинар от испанского тренера", "#", :class => "element-header-link" %>
	<div class="element-date">13.03.2012</div>
	<div class="element-text">Приглашаем косметологов и представителей салонов красоты на уникальный семинарот лаборатории Alissi Bronte <%= link_to "читать далее", "#" %></div>
	</div>
</div>