<div style="width: 320px; float: left; margin-right: 40px">
	<div class="header">Новинки из каталога</div>
	<%= link_to "весь каталог", products_path, :class => "content-header-link" %>
	<div class="line"></div>
	<% unless @products.blank? %>
	<% @products.each do |product| %>
	<div class="column-element">
    	<div class="icon main" <% unless product.product_images.blank? %>style="background-image: url(<%= product.product_images.first.image.url(:ico) %>);"<% end %>>
		  <%= link_to image_tag('index-icon.png'), product_seo_path(product) %>
		</div>
	<%= link_to product.title, product_seo_path(product), :class => "catalog-element-header-link" %>
	<div class="catalog-element-text"><%= product.short_description %><%= link_to "читать далее", product %></div>
	</div>
	<% end %>
	<% end %>
  </div>