<div style="width: 320px; float: left; margin-right: 40px">
	<div class="header">Новинки из каталога</div>
	<%= link_to "весь каталог", "#", :class => "content-header-link" %>
	<div class="line"></div>
	
	<div class="column-element">
    <%= image_tag('column-element-picture.png', :class => 'catalog-element-image') %>
	<%= link_to "Serenity Cream", "#", :class => "catalog-element-header-link" %>
	<div class="catalog-element-text">Крем для чувствительнойи гиперчувствительной кожис экстрактом орхидеи<%= link_to "читать далее", "#" %></div>
	</div>
	
	<div class="column-element">
    <%= image_tag('column-element-picture.png', :class => 'catalog-element-image') %>
	<%= link_to "Serenity Cream", "#", :class => "catalog-element-header-link" %>
	<div class="catalog-element-text">Крем для чувствительнойи гиперчувствительной кожис экстрактом орхидеи<%= link_to "читать далее", "#" %></div>
	</div>
	
	<div class="column-element">
    <%= image_tag('column-element-picture.png', :class => 'catalog-element-image') %>
	<%= link_to "Serenity Cream", "#", :class => "catalog-element-header-link" %>
	<div class="catalog-element-text">Крем для чувствительнойи гиперчувствительной кожис экстрактом орхидеи<%= link_to "читать далее", "#" %></div>
	</div>
		
  </div>