<div id="topmenu">
  <div class="container">
    <div class="row">
      <div class="span12">
		<%= link_to "о нас", "#" %>
		<%= link_to "Продукция", "#" %>
		<%= link_to "Студия профессионального роста", "#" %>
		<%= link_to "Консультации технолога", "#" %>
		<%= link_to "Медиа зона", "#" %>
		<%= link_to "Публикации", "#" %>
		<%= link_to "Контакты", "#" %>
	  </div>
    </div>
  </div>
</div>