<!DOCTYPE html>
<html>
<head>
  <title>Royal Beauty</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body<%= unless controller?("static_pages") && action?("home") then raw ' style="background-color: #edede9;"' end %>>
<%= render 'layouts/auth-form' %>
<div class="wrapper">
<%= render 'layouts/header' %>
<%= render 'layouts/topmenu' %>

<%= yield %>

<div class="push"></div>
</div>
<%= render 'layouts/footer' %>
</body>
</html>
