<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "print", :media => "print" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body<%= unless controller?("static_pages") && action?("home") then raw ' style="background-color: #edede9;"' end %>>
<%= if notice then render :partial => 'layouts/notice', :flash => flash end %>
<%= unless user_signed_in? then render 'layouts/auth-form' end %>
<div class="wrapper">
<%= render 'layouts/header' %>
<%= render 'layouts/topmenu' %>

<%= yield %>

<div class="push"></div>
</div>
<%= render 'layouts/footer' %>
</body>
</html>
