<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "application-print", :media => "print" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="description" content="<%= meta_description %>" />
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-50938965-1', 'rbcos.ru');
  ga('send', 'pageview');
  </script>

  <script type="text/javascript" src="//cdn.callbackhunter.com/cbh.js?hunter_code=de03a2d3e54a6e11797a8ad66ab13e0d" charset="UTF-8"></script>
</head>
<body>
<%= if notice then render :partial => 'layouts/notice', :flash => flash end %>
<%= unless user_signed_in? then render 'layouts/auth-form' end %>
<%= yield :modals %>
<div class="wrapper">
<%= render 'layouts/header' %>
<%= render 'layouts/topmenu' %>

<%= yield %>

<div class="push"></div>
</div>
<%= render 'layouts/footer' %>
<%= render 'layouts/metrika' %>
</body>
</html>
