<!DOCTYPE html>
<html>
<head>
  <title>Royal</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/header' %>
<%= render 'layouts/topmenu' %>

<div id="main">
	<div id="bronte-bubble">
		<div id="bronte-text">Натуральная органическая косметика Alissi Bronte для самых избалованных искательниц совершенства покоритВашу душу и подарит совершенство Вашему лицу и телу. Окунитесь в мир роскоши и  фантастических ощущенийс Alissi Bronte. Bienvenidos!
		<%= link_to "Перейти в каталог", "#", :class => 'bubble-link' %>
		</div>
	</div>
	<div id="belter-bubble">
		<div id="bronte-text">Натуральная органическая косметика Alissi Bronte для самых избалованных искательниц совершенства покоритВашу душу и подарит совершенство Вашему лицу и телу. 
		<%= link_to "Перейти в каталог", "#", :class => 'bubble-link' %>
		</div>
	</div>
</div>



<%= yield %>

</body>
</html>
