<!DOCTYPE html>
<html>
<head>
  <title>Royal</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="header">
  <div class="container">
    <div class="row">
      <div class="span2"><%= link_to "вход для партнеров", "#", :class => 'partners_link' %></div>
    </div>
  </div>
</div>

<div id="topmenu">
  <div class="container">
    <div class="row">
      <div class="span12">
		<%= link_to "о нас", "#" %>
		<%= link_to "Продукция", "#" %>
		<%= link_to "Студия профессионального роста", "#" %>
		<%= link_to "Консультации технолога", "#" %>
		<%= link_to "Медиа зона", "#" %>
		<%= link_to "Публикации", "#" %>
		<%= link_to "Контакты", "#" %>
	  </div>
    </div>
  </div>
</div>



	
<%= yield %>


</body>
</html>
