<!DOCTYPE html>
<html>
<head>
  <title>Royal</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/header' %>
<%= render 'layouts/topmenu' %>

<div id="main">
<div class="container" style="position: relative;">
<%= render 'layouts/bubbles' %>
</div>

<div id="main-content">
  <div class="container">
    <div class="row">
	  <div style="width: 320px; float: left; margin-right: 40px">
		<div class="header">Новости компании</div>
		<%= link_to "все новости", "#", :class => "content-header-link" %>
		<div class="line"></div>
	  </div>
	  <div style="width: 320px; float: left; margin-right: 40px">
		<div class="header">Новинки из каталога</div>
		<%= link_to "весь каталог", "#", :class => "content-header-link" %>
		<div class="line"></div>
	  </div>
	  <div style="width: 220px; float: left;">
		<div class="header">Ближайшие события</div>
		<div class="line"></div>
	  </div>
  </div>
</div>

</div>



<%= yield %>

</body>
</html>
