<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "application-print", :media => "print" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="description" content="<%= meta_description %>" />
</head>
<body>
<%= if notice then render :partial => 'layouts/notice', :flash => flash end %>
<%= unless user_signed_in? then render 'layouts/auth-form' end %>
<%= yield :modals %>
<div class="wrapper">
<%= render 'layouts/header' %>
<%= render 'layouts/topmenu' %>

<%= yield %>

<div class="push"></div>
</div>
<%= render 'layouts/footer' %>
<%= render 'layouts/metrika' %>
</body>
</html>
